---
    peers:
        - 192.168.99.1
        - 192.168.99.2
        - 192.168.99.3
        - 192.168.99.4
        - 192.168.99.5
        - 192.168.99.6
        - 192.168.99.7
        - 192.168.99.8
        - 192.168.99.9
        - 192.168.99.10
    cycle_control: "[{{ lookup(\"sequence\", \"5\") }}]"
    current_time: ""
    date: ""
    result_file_path: "/tmp"
    result_file_prefix: "test_"
    result_file: "" # Change dynamically via date
    latest_result_file: "{{ result_file_path }}/{{ result_file_prefix }}latest.txt"
    latest_result_temp: "{{ result_file_path }}/{{ result_file_prefix }}latest.temp"
    ping_interval: 30
